main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    margin-bottom: 80px;
}

body>header{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #A11524;
    z-index: 1;
}

body>header >h1{
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 30px;
    padding-left: 20px;
}

body>header>img {
    max-width: 80px;
    position:absolute;
    top: 0;
    right: 0;
    margin: 10px 0px;
}

body>main>nav{
    width: 350px;
    margin-bottom: 20px;
    margin-top: 100px;
    z-index: 0;
}

article{
    background-color: #EFE9CF;
    border-radius: 12px;
    width: 400px;
    margin-bottom: 20px;
}

article header h2{
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 0px 0px 10px;
}

article aside:nth-child(2){
    width: 15%; 
    float: left;
}

article aside img{
    max-width: 80px;
    float: left;
    margin-left: 10px;
}

article ul li{
    list-style: none;
}

article section{
    width: 50%;
    text-align: left;
    
}

article section ul li img{
    width: 20px;
}

article nav{
    width: 105px;
    text-align: center;
    float: right;
}

article nav, article aside, article section{
    display: inline-block;
    vertical-align: top;
}

article nav button{
    width: 50%;
    margin: 6px 8px 6px 0px;
}

article nav button:first-child img{
    width: 25px;
}

article nav button:nth-child(2) svg{
    margin-bottom: 5px;
}

body>main>section:nth-child(1){
    margin-bottom: 25px;
    margin-top: 120px;
}

body>nav{
    position: fixed;
    background-color: white;
    border-top: 1px solid #A11524;
    bottom: 0;
    width: 100%;
    padding: 10px 10px;
}

button{
    background-color: #a1152320;
    color: #A11524;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
}

button:hover{
    background-color: #a1152355;
}

body nav a{
    color: #f10019;
}

body nav a:hover{
    color: #5f0d16;
}

body nav a:hover{
    color: #5f0d16;
}

body nav li:nth-child(2) a{
    background-color: #A11524;
    color: white
}

article aside img:hover{
    cursor: pointer;
}

