main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body>header{
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #A11524;
}

body>header >h1{
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 6px;
    padding-left: 50px;
}

body>header>img {
    max-width: 80px;
    position:absolute;
    top: 0;
    right: 0;
    margin: 10px 0px;
}

body header button{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0px 20px 0px 4px;
    border: none;
    background-color: transparent;
}