main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body>header{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #A11524;
}

body>header >h1{
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 28px;
    padding-left: 50px;
}

body>header>img {
    max-width: 80px;
    position:absolute;
    top: 0;
    right: 0;
    margin: 10px 0px;
}

body header button{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0px 20px 0px 4px;
    border: none;
    background-color: transparent;
}

article:nth-child(1){
    margin-top: 110px;
    margin-bottom: 20px;
}

article{
    background-color: #EFE9CF;
    border-radius: 12px;
    width: 400px;
    margin-bottom: 20px;
}

article header h2{
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 0px 0px 10px;
}

article aside:nth-child(2){
    width: 15%; 
    float: left;
}

article aside img{
    max-width: 80px;
    float: left;
    margin-left: 10px;
}

article ul li{
    list-style: none;
}

article section{
    width: 50%;
    text-align: left;
    
}

article section ul li img{
    width: 20px;
}

article nav{
    width: 105px;
    text-align: center;
    float: right;
}

article nav, article aside, article section{
    display: inline-block;
    vertical-align: top;
}

article nav button{
    width: 50%;
    margin: 6px 8px 6px 0px;
}

article nav button svg{
    margin-bottom: 5px;
}

article:last-child(){
    margin-bottom: 200px;
}

main button{
    color: #A11524;
    background-color: #a1152320;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.2);
}

main button:hover{
    background-color: #a1152355;
}

article aside img:hover{
    cursor: pointer;
}